
    <!--<lightning-card title="Products" icon-name="standard:account">
    <template if:true={products.data}>
        <template if:true={products.data}>
            
            <a
                
                key={product.Id}
            
            >
            <div class="slds-box slds-p-around_none slds-m-top_x-small slds-m-bottom_medium slds-m-horizontal_none">
                <lightning-layout>
                    <lightning-layout-item>
                        <img src={product.image__c} alt="image" />
                    </lightning-layout-item>
                    <lightning-layout-item padding="horizontal-small">
                        <div class="custom-box slds-box slds-p-around_medium slds-text-align_center">  <p>{product.Name}</p> </div>
                    </lightning-layout-item>
                    <lightning-button variant="brand" label="Brand" title="Primary action" onclick={handleClick} class="slds-m-left_x-small"></lightning-button>

                </lightning-layout>
            </div>
            </a>
            
        </template>
    </template>
    </lightning-card>-->

    <template>
    <lightning-card title="Product showcase" icon-name="action:clone">
      
        <template if:true={products.data}>
            <div class="slds-m-top_medium slds-m-bottom_x-large">
               
                <div align="center">
                <!-- Button group: simple buttons -->
              
            </div>
            </div>
            <table>

                <thead>
                    <tr>
                        <th></th>
                        <th>Product Name</th>
                        <th>Product Descreption</th>
                        <th>Product Code</th>
                       
                        
                    </tr>
                </thead> 
                <tbody>
            <template for:each={products.data} for:item="product">
                

                    <tr key={product} data-item={product} style="list-style: none;">
                        <td> <img src={product.image__c} alt="image"/></td>
                        <td>{product.Name}</td>
                        <td>{product.Description}</td>
                        <td>{product.ProductCode}</td>
                      
                      
                    </tr>
   
            
   
    </template>
    </tbody>
            </table>
    </template>
</lightning-card>
</template>