<template>
    <lightning-card title="Delete Contact" icon-name="utility:delete">
    <lightning-button variant="destructive" 
        label="Delete"
        icon-name="utility:delete"
        icon-position="right"
        onclick={delet}>
    </lightning-button>
    </lightning-card>
</template>