<template>
    <lightning-card title="HomePage" icon-name="standard:template">
        
        <lightning-dynamic-icon 
        type="trend" 
        option="down" 
        alternative-text="Trending down">
    </lightning-dynamic-icon>
    <p id="action" class="slds-box slds-text-heading_small">Welcome To the HomePage Related To the 
        Sales Agent. <br /><br />
       
    </p>
    </lightning-card>
</template>