
<template>
    
    <template if:true={allActivitiesData}>
        <lightning-card title="Quotes" icon-name="standard:quotes">
          
            <template if:true={loading}>
                <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
            </template>
           

            <div class="slds-m-top_medium slds-m-bottom_x-large">
                <div align="right">
                <!-- with border / by default -->
                <div class="slds-p-around_medium lgc-bg">
                    <lightning-button-icon icon-name="utility:refresh"  alternative-text="Refresh" title="Refresh"></lightning-button-icon>
                    <lightning-button-icon icon-name="utility:record_create"   alternative-text="New Quote" class="slds-m-left_xx-small" title="New Quote"></lightning-button-icon>
                   
                    <lightning-button-icon icon-name="utility:save"      alternative-text="Save"     class="slds-m-left_xx-small" title="Save"></lightning-button-icon>
                  
                </div>
                </div>
                <div class="slds-m-around_medium">
                    <lightning-button-group>
                        <lightning-button label="New" 
                        onclick={navigateToObjectHome}
                        
                        ></lightning-button>
                        <lightning-button onclick={report} label="Dashboard"></lightning-button>
                        <lightning-button icon-name="utility:download" 
                        label="Download as CSV" 
                        title="Download CSV File"
                        onclick={downloadCSVFile} variant="brand"></lightning-button>
                       
        
                            <lightning-input type="search" onchange={handleKeyChange} variant="label-hidden" label="Search" value={searchkey}
                            placeholder="Search by status"
                            >
                    
                            </lightning-input>
        
                            
                      
                    </lightning-button-group>
           
                   </div>
        
                
                <lightning-datatable
                    key-field="Id"
                    data={allActivitiesData}
                    columns={columns}
                    onrowaction={handleclick}
                    hide-checkbox-column>
                    
                </lightning-datatable>
                
            </div>
          
           
        </lightning-card>
        
    </template>
</template>



