<template>
    <div class="slds-modal__container">
        <lightning-card>
            <template if:true={loading}>
                <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
            </template>
          
            <div class="slds-m-top_medium slds-m-bottom_x-large">
                <h2 class="slds-text-heading_medium slds-m-bottom_medium">
                    A text input field.
                </h2>
                <!-- Default/basic -->
                <div class="slds-p-around_medium lgc-bg">
                    <lightning-input type="text" label="Enter reasons"></lightning-input>
                    <lightning-button label="Enter" onclick={updateText}>
                    </lightning-button>
                </div>
            </div>
            
        </lightning-card>
    </div>
</template>