<template>
    <lightning-card title ="Audit" icon-name="standard:work_type">
    <template if:true={tableData}>
        <div class="slds-m-top_medium slds-m-bottom_x-large">
            <div align="right">
                
            <!-- with border / by default -->
            <div class="slds-p-around_medium lgc-bg">
                <lightning-button-icon  icon-name="utility:refresh"  alternative-text="Refresh" title="Refresh"></lightning-button-icon>
                <lightning-button-icon onclick={handleclick} icon-name="utility:send"    alternative-text="Send"   class="slds-m-left_xx-small" title="Send Email"></lightning-button-icon>
                <lightning-button-icon  onclick={downloadCSVFile} icon-name="utility:save"      alternative-text="Save"     class="slds-m-left_xx-small" title="Save"></lightning-button-icon>
               </div>
                </div>
                <div class="slds-m-around_medium">
                    <lightning-button-group>
                        <lightning-button  icon-name="utility:download" onclick={generateData} label="Generate PDF"></lightning-button>
                        <lightning-button onclick={report} label="Dashboard"></lightning-button>
                        <lightning-button icon-name="utility:download" 
                        label="Download as CSV" 
                        title="Download CSV File"
                        onclick={downloadCSVFile} variant="brand"></lightning-button>
                       
                        <lightning-input type="search" onchange={handleKeyChange} variant="label-hidden" label="Search" value={searchkey}
                        placeholder="Search by User">
                       
                        </lightning-input>
        
                           
        
                            
                      
                    </lightning-button-group>
           
                   
            </div>
        </div>
    
    
    
    
    
    
    <lightning-datatable
    data={tableData}
    columns={columns}
    key-field="Id"
    ></lightning-datatable>
    </template>
    
    </lightning-card> 
    </template>