<template>
    <lightning-card title ="Dashboard Admin" icon-name="action:preview">
        <div style="width: 320px;">
            <lightning-vertical-navigation>
                <lightning-vertical-navigation-section label="Dashboard Admin">
                    <lightning-vertical-navigation-item label="OppDashbord" name="OppDashbord" onclick={report1}></lightning-vertical-navigation-item>
                    <lightning-vertical-navigation-item label="ContractDahsbord" name="ContractDahsbord" onclick={report2}></lightning-vertical-navigation-item>
                    <lightning-vertical-navigation-item label="CaseDashboard" name="CaseDashboard" onclick={report3}></lightning-vertical-navigation-item>
                    <lightning-vertical-navigation-item label="FeedbackDashboard" name="Feedback Dasboard" onclick={report4}></lightning-vertical-navigation-item>
                    <lightning-vertical-navigation-item label="QuoteDashboard" name="QuoteDashboard" onclick={report5}></lightning-vertical-navigation-item>
                    <lightning-vertical-navigation-item label="LeadDashboard" name="LeadDashboard" onclick={report5}></lightning-vertical-navigation-item>
                </lightning-vertical-navigation-section>
            </lightning-vertical-navigation>
        </div>
    </lightning-card>
</template>
