<!--<template>
    <lightning-card title="Contacts" icon-name="standard:contact">
        <div class="slds-m-around_medium">

            <lightning-button-group>
                <lightning-button label="New" 
                onclick={navigateToObjectHome}
                ></lightning-button>
                <lightning-button label="Export Contacts"
                onclick={exportt}>
                </lightning-button>
                <lightning-button label="Refrech"
                onclick={refrech}
                ></lightning-button>
            </lightning-button-group>
            
            <template if:true={isError}>
                <div>{errorMessage}</div>
            </template>
         

            <lightning-datatable
                key-field="Id"
                data={contacts.data}
                columns={columns}
                onrowaction={handleclick}
                hide-checkbox-column>
            </lightning-datatable>

        </div>
    </lightning-card>
</template>-->

<template>
    
    <template if:true={allActivitiesData}>
        <lightning-card title="Contacts" icon-name="standard:contact">
         
           <!---- <div class="slds-p-around_medium lgc-bg-inverse">
                <p>Do you want download data as a CSV format, Click Here &nbsp;
                    <lightning-button icon-name="utility:download" 
                                      label="Download as CSV" 
                                      title="Download CSV File"
                                      onclick={downloadCSVFile} variant="brand"></lightning-button>
                </p>
            </div>-->

            <template if:true={loading}>
                <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
            </template>
    
            <div align="right">
            <div class="slds-p-around_medium lgc-bg">
                <lightning-button-icon onclick={refrech}  icon-name="utility:refresh"  alternative-text="Refresh" title="Refresh"></lightning-button-icon>
                <lightning-button-icon  onclick={downloadCSVFile} icon-name="utility:save"      alternative-text="Save"     class="slds-m-left_xx-small" title="Export Data"></lightning-button-icon>
                <lightning-button-icon onclick={navigateToObjectHome} icon-name="utility:record_create"   alternative-text="Zoom in"  class="slds-m-left_xx-small" title="New Contact"></lightning-button-icon>
               
                <lightning-button-icon onclick={upload} icon-name="utility:upload"   alternative-text="Zoom out" class="slds-m-left_xx-small" title="Upload Data"></lightning-button-icon>
           
            </div>
            </div>
              
                   
            <div class="slds-m-around_medium">
                <lightning-button-group>
                    <lightning-button label="New" 
                    onclick={navigateToObjectHome}
                    
                    ></lightning-button>

                    <lightning-button icon-name="utility:download" 
                                      label="Download as CSV" 
                                      title="Download CSV File"
                                      onclick={downloadCSVFile} variant="brand"></lightning-button>
                   
    
                        <lightning-input type="search" onchange={handleKeyChange} variant="label-hidden" label="Search" value={searchkey}
                        placeholder="Search by name"
                        >
                
                        </lightning-input>
    
                        
                  
                </lightning-button-group>
       
               </div>
                
               <template if:true={allActivitiesData}>
                <lightning-card >
                    <div class="slds-m-around_medium">
                        <lightning-datatable key-field="Id" data={allActivitiesData} columns={columns}
                            onrowaction={handleclick} hide-checkbox-column>
                        </lightning-datatable>
                    </div>
                    <lightning-layout horizontal-align="space">
                        <lightning-layout-item flexibility="auto">
                            <lightning-button label="Previous" icon-name="utility:chevronleft" onclick={previousHandler}>
                            </lightning-button>
                        </lightning-layout-item>
                        <lightning-layout-item flexibility="auto">
                            Page {page} of {totalPage}
                        </lightning-layout-item>
                        <lightning-layout-item flexibility="auto">
                            <lightning-button label="Next" icon-name="utility:chevronright" icon-position="right"
                                onclick={nextHandler}></lightning-button>
                        </lightning-layout-item>
                    </lightning-layout>
                </lightning-card>
            </template>
                
           
          
           
        </lightning-card>
        
    </template>
</template>


